{#
/**
 * @file product_choice_term.html.twig
 * Default theme implementation to present Product choice term data.
 *
 * This template is used when viewing Product choice term pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_product_choice_term()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('product_choice_term') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
